.section-one{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  
  

  background: url(../img/home.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1{
    text-align: center;
}
.section-two{
    background-color:rgba(255, 255, 0, 0.707);
    margin-bottom: 50px;
    font-family: cursive;

}
#section-one{
   
    background-color: rgba(255, 0, 0, 0.469);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;
  
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: 500px;
    padding-left: 10px;
}
.section-three{
    border-style: inset;
    border-color: red;
    border-width:20px;
    font-family: 'Franklin Gothic Medium' ;
    font-size: 30px;
    
}
.show-order{
    display: none;
}

.section-six{
    display:none;
}
.section-five{
    display: none;
}


