.section-one{
    background-color: rgba(255, 0, 0, 0.659);
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;

  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 500px;
  padding-left: 10px;

  text-align: center;
}
h1{
    text-align: center;
}
.section-two{
    background-color:rgba(255, 255, 0, 0.707)

}